.formattedText {
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}

.centeredTable {
    margin: auto;
}

.squareAnimatedIcon {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: auto;
}