/* text classes */
.formattedText {
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftAlignText {
    text-align: left;
}

.gapAboveEZGifCredit {  
    padding-top: 200px;
}   /* specific use case: text crediting ezgif on index.html */

/* table classes */
.centeredTable {
    margin: auto;
}

.tableBorder {
    border: 1px solid;
}

.fixedTableWidth {
    width: 750px;
}

.fixedColumnWidth {
    width: 30%;
}

/* image classes */
.squareAnimatedIcon {
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: auto;
}

.squareLgIcon {
    width: 250px;
    height: 250px;
}

.squareSmIcon {
    width: 150px;
    height: 150px;
}

.imageAlignRight {
    float: right;
    padding-left: 10px;
}

.imageAlignLeft {
    float: left;
    padding-right: 10px;
}

/* background classes */
.backgroundMain {
    background-color: rgb(218, 207, 254);
}

.backgroundPetFurry {
    background-color: rgb(207, 207, 207);
}

.backgroundPetTigger {
    background-color: rgb(255, 235, 174);
}

.backgroundPetCupid {
    background-color: rgb(154, 154, 154);
}

.backgroundPetTinkerbell {
    background-color: rgb(217, 200, 144);
}